<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Manager</title>
</head>
<body>
    <h1>Manage Data Files</h1>
    <form action="/game">
        <select>
            <!-- ejs for loop for each game/file/collection as select options -->
        </select>
    </form>
    <form action="/addGame" method="POST">

    </form>
    <form action="/addFact">
        <input type="text" placeholder="fact">
    </form>

    <div>
        <!-- ejs loop for selected game's facts -->
    </div>
</body>
</html>