<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Manager</title>
</head>
<body>
    <h1>Manage Data Files</h1>
    <section class="gameSection">
        <ul class='gamesList'>
            <% for(var i = 0; i < gameArray.length; i++){ %>
                <li class="game"> <%= gameArray[i] %> </li>
            <% } %>
        </ul>

        <span>Selected Game:</span>

        <form action="/addGame">
            <input type="text" placeholder="Add Game">
            <button type="submit">Add</button>
        </form>
    </section>
    
    <form action="/addFact" method="POST">
        <!-- game input will be the same as selected above -->
        <input type="text" placeholder="Add a fact">
        <button type="submit">Submit</button>
    </form>

    <ul>
        <!-- ejs loop for selected game's facts -->
    </ul>
</body>
</html>