<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <section class="textDisplay">
        <select name="" id="fontselect">
            <option value="federant">Federant</option>
        </select>

        <input type="color" name='' id="color" value="#ffffff">

        <label for="size">Text Size:</label>
        <input type="text" name='' value="35" id="size"></input>

        <select name="" id="animationselect">
            <option value="typewriter">Typewriter</option>
            <option value="fade">Fade</option>
        </select>

        <label for="animaTime">Animation Time (seconds):</label>
        <input type="text" name="" id="animaTime" value=0.75>

        <label for="activeTime">Text Active Time (seconds):</label>
        <input type="text" name="" id="activeTime" value=2>

        <select name="" id="style">
            <option value="random">Random</option>
            <option selected value="loop">Continuous Loop</option>
            <option value="single">One Time Through</option>
        </select>

        <button type="button" name="button" id="settings">Set Default Settings</button>
        <button type="button" name="button" id="start">Start Loop</button>
        <button type="button" name="button" id="end">End Loop</button>
        <button type="button" name="button" id="defaultScreen">Show Default Screen</button>
    </section>


</body>
</html>